<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="stylesheet" href="/JavaScript-Ecom-App/styles/Products.css" />
  </head>
  <body>
    <div>
      <div class="header">
        <img src="/assets/logoo.png" alt="" />
        <ul class="header-c">
          <a href="/JavaScript-Ecom-App/index.html"><li>Home</li></a>
          <a href="/JavaScript-Ecom-App/Components/Products.html"><li>Products</li></a>
          <a href="/JavaScript-Ecom-App/Components/AboutUs.html"><li>About Us</li></a>
          <a href="/JavaScript-Ecom-App/Components/Contact.html"><li>Contact</li></a>
        </ul>
      </div>
      <div class="desc">
        <h2>Explore All Products</h2>
        <form id="searchForm">
          <label for="typeSearch">Search by Type:</label>
          <input type="text" id="typeSearch" placeholder="Enter type..." />
          <button type="submit" class="search">Search</button>
        </form>
      </div>
      <div class="body" id="body"></div>
    </div>
    <div class="Footer">
      <p>&copy; 2024 Ecom For Students. All rights reserved.</p>
    </div>
    <script src="/JavaScript-Ecom-App/index.js"></script>
  </body>
</html>
