<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Authentication</title>
    <link rel="stylesheet" href="/JavaScript-Ecom-App/styles//Signup.css" />
  </head>
  <body>
    <form id="loginForm" class="form">
      <h2>SignUp</h2>

      <input
        type="text"
        placeholder="Enter Username:"
        id="username"
        name="username"
        required
      />
      <input
        type="email"
        placeholder="Enter Email:"
        id="email"
        name="email"
        required
      />

      <input
        type="password"
        id="password"
        placeholder="Enter Password:"
        name="password"
        required
      />
      <input
        type="text"
        placeholder="Confirm Password:"
        id="c-password"
        name="c-password"
        required
      /><br />
      <button type="submit">Create an Account</button>
      <br />
      <button onclick="signIn()">SignIn</button>
    </form>

    <script>
      document
        .getElementById("loginForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;

          const user = users.find(
            (user) => user.username === username && user.password === password
          );

          if (user) {
            window.location.href = "/JavaScript-Ecom-App/index.html";
          } else {
            alert("Invalid username or password");
          }
        });
      function signIn() {
        window.location.href = "/JavaScript-Ecom-App/Components/Signin.html";
      }
    </script>
  </body>
</html>
